.navbar {
  display: flex;
  align-items: center;
  padding: 15px 100px;
  background-color: rgb(41, 41, 241);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  position: sticky;   /* xohlasangiz */
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(6px);
}
  
  .navbar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }  
  
  .navbar .logo img {
    height: 35px;
  }
  
  .navbar .logo h2 {
    color: white;
    font-size: 22px;
  }
  
  @media screen and (max-width: 600px) {
    .navbar{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }