.take-exam {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.exam-title {
  text-align: center;
  margin-bottom: 25px;
  color: #1b3764;
}

.question-card {
  background: #f7f9fc;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

.mcq-select {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  background-color: #f1f1f1 !important;
  color: #000 !important;
  appearance: none;
}

.mcq-option {
  background-color: #f1f1f1 !important;
  color: #000 !important;
}

/* Firefox uchun */
select option {
  background-color: #f1f1f1 !important;
  color: #000 !important;
}

/* Chrome uchun majburiy fix */
select:focus > option:checked {
  background: #dcdcdc !important;
  color: #000 !important;
}

.written-answer {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: vertical;
}

.loading {
  text-align: center;
  margin-top: 50px;
}
